@{
    ViewData["Title"] = "notes";
}

@section Styles {
    <link rel="stylesheet" href="~/dist/assets/notes-app.css" asp-append-version="true" />
}

<div id="notes-app"></div>

@section Scripts {
    <script type="module" src="~/dist/js/notes-app.js" asp-append-version="true"></script>
}
