@{
    ViewData["Title"] = "users";
}

@section Styles {
    <link rel="stylesheet" href="~/dist/assets/users-app.css" asp-append-version="true" />
}

<div id="users-app"></div>

@section Scripts {
    <script type="module" src="~/dist/js/users-app.js" asp-append-version="true"></script>
}
